# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Database & local secrets
.env
*.db
*.sqlite3
test_quizarena.db

# Pytest & IDE
.pytest_cache/
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml

# OS Files
Thumbs.db
Desktop.ini
.DS_Store
